{{extend 'layout.html'}}

<html>
{{if auth.user_id:}}
<h2 class="welcome">{{=db.auth_user[auth.user_id].first_name}}  {{=db.auth_user[auth.user_id].last_name}}</h2>

{{pass}}



<h3>Last Project:</h3>

<h4>{{=last_project.title}}</h4>
  <p> {{=last_project.body}}</p>
  <p>Created {{=last_project.created_on}} by</p>


               <a href="{{=URL('default', 'profile', args=[last_project.id])}}">
                edit
               </a>
{{pass}}

{{pass}}
</html>
<!--{{=BEAUTIFY(response._vars)}}-->
