{{extend 'layout.html'}}
<!--<h1>{{=project.title}}</h1>
[ {{=A('index', _href=URL('index', args=request.args))}}
| {{=A('edit', _href=URL('edit', args=request.args))}}
| {{=A('documents', _href=URL('documents', args=request.args))}} ]<br />
{{=MARKMIN(project.body)}}
<br> {{=project.category}}<br/>
<img width="200px"
     src="{{=URL('download', args=project.image)}}" />

<br>

<iframe src={{=project.Youtube_Embed_Link}} width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

<br>
<iframe src={{=project.Vimeo_Embed_Link}} width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

<h2>Comments</h2>
{{for post in comments:}}
  <p>{{=db.auth_user[post.created_by].first_name}} on {{=post.created_on}}
     says <i>{{=post.body}}</i></p>
{{pass}}
<h2>Post a comment</h2>
{{=form}}-->

<h1>{{=project.title}}</h1>
[ {{=A('index', _href=URL('index', args=request.args))}}
|{{=A('edit', _href=URL('edit', args=request.args))}}
|{{=A('documents', _href=URL('documents', args=request.args))}}]<br />
<h1>Catagory: {{=project.category}}</h1>
<br/>
{{=MARKMIN(project.body)}}


{{if project.image:}}
    <img width="200px" src="{{=URL('download', args=project.image)}}" />
    <br>
{{pass}}
{{if project.Youtube_Embed_Link:}}
    <br>
    <iframe width="560" height="315" src={{=project.Youtube_Embed_Link}} frameborder="0" allowfullscreen></iframe>
    <br>
{{pass}}
{{if project.Vimeo_Embed_Link:}}
    <br>
    <iframe src={{=project.Vimeo_Embed_Link}} width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <br>
{{pass}}
<h2>Post History</h2>
{{for post in posts:}}
    <p>{{=db.auth_user[post.created_by].first_name}} on {{=post.created_on}} says</p>
    {{=post.body}}
    {{if post.Youtube_Embed_Link:}}
        <br>
        <iframe width="560" height="315" src={{=post.Youtube_Embed_Link}} frameborder="0" allowfullscreen></iframe>
        <br>
    {{pass}}
    {{if post.Vimeo_Embed_Link:}}
        <br>
        <iframe src={{=post.Vimeo_Embed_Link}} width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <br>
    {{pass}}
    {{for comm in comments:}}
                {{if comm.document_id == post.id:}}
                <div class="comment">
                    <p>{{=db.auth_user[comm.created_by].first_name}} on {{=comm.created_on}} says</p>
                    {{=comm.body}}
                </div>
                {{pass}}
            {{pass}}
            <br>
{{pass}}


{{if auth.user_id:}}
<h2>Make a new Post</h2>
    {{=form}}
{{pass}}
